<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}coucou!{% endblock %}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ asset('css/makemeup.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block javascriptsHead %}{% endblock %}
    </head>

    <body>

        <div class="col-md-2 sidebar">
            <div class="logo-sidebar-sticky"><img class="logo-sticky" src="{{ asset('image/make-me-up-logo-bw.png') }}" alt="logo-right de MakeMeUp" id="logo_sidebar_sticky"></div>
            <nav>
                <ul class="navbar-li">
                    <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('homepage_cool') }}">ACCUEIL</a></li>
                    {% if is_granted('ROLE_USER') == true %}
                        <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('fos_user_security_logout') }}">DECONNEXION</a></li>
                        <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('article_new') }}">CREER UN ARTICLE</a></li>
                        <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('ArticleUser') }}">ARTICLE</a></li>
                    {% else %}
                        <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('user_login_register') }}">INSCRIPTION / CONNEXION</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('validation_index') }}">VALIDATION</a></li>
                    {% endif %}
                    <li class="li-lien-navbar"><a class="lien-navbar" href="{{ path('contact_cool') }}">CONTACT</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-10 logo-center">
            <div><img src="{{ asset('image/make-me-up-logo-colored.png') }}" alt="logo-center de MakeMeUp" id="logo_center_top"></div>
        </div>

        <div class="col-md-10 content " id="page_info">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}

            {#{% block nav %}{% endblock %} #}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="//code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/makemeupLogoSticky.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    </body>
</html>
