{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slide edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('slide_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
            {% if (slide.picture is not null) %}
                <img src="{{ asset(upload_directory_slide ~ slide.picture) }}">
            {% endif %}
        </li>
    </ul>
{% endblock %}
