Articles list
<table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}"  data-type="article" data-id="{{ element.article.id }}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date_create</th>
        <th>Date_event</th>
        <th>Title</th>
        <th>Catch_sentence</th>
        <th>Picture</th>
        <th>Content</th>
        <th>Validation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{{ path('article_show', { 'id': element.article.id }) }}">{{ element.article.id }}</a></td>
        <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if element.article.dateevent %}{{ element.article.dateevent|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ element.article.title }}</td>
        <td>{{ element.article.catchsentence }}</td>
        <td>{{ element.article.picture }}</td>
        <td>{{ element.article.content }}</td>
        {% if element.article.enabled == 0 %}
            <td>
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_accept"> accepté</button>
            </td>
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_refuse"> refusé</button>
            </td>
            </td>
        {% else %}
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_refuse"> suprimer</button>
            </td>
        {% endif %}
    </tr>
    </tbody>
</table>