<table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}"  data-type="article" data-id="{{ element.article.id }}">
    <thead>
    <tr>
        <th>Afficher</th>
        <th>Date de création</th>
        <th>Date de l'événement</th>
        <th>Titre</th>
        <th>Email du créateur</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{{ path('article_show', { 'id': element.article.id }) }}" target="_blank">Afficher</a> |</td>
        <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %} |</td>
        <td>{% if element.article.dateevent %}{{ element.article.dateevent|date('Y-m-d H:i:s') }}{% endif %} |</td>
        <td>{{ element.article.title }} |</td>
        <td>{{ email }} |</td>
        {% if element.article.enabled == 0 %}
            <td>
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_accept"> accepté</button>
            </td>
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_refuse"> refusé</button>
            </td>
            </td>
        {% else %}
            <td>
                <button class="btn-action" data-id="{{ element.article.id }}" data-info="article_refuse"> suprimer</button>
            </td>
        {% endif %}
    </tr>
    </tbody>
</table>