<table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}" data-type="user" data-id="{{ element.user.id }}">
    <thead>
    <tr>
        <th>Afficher</th>
        <th>Date de création</th>
        <th>Promotion</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>pseudo</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
            <td><a href="{{ path('user_show', { 'id': element.user.id }) }}" target="_blank">Afficher</a> |</td>
            <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %} |</td>
            <td>{{ element.user.promotion }} |</td>
            <td>{{ element.user.firstName }} |</td>
            <td>{{ element.user.lastName }} |</td>
            <td>{{ element.user.username }} |</td>
            <td>{{ element.user.email }} |</td>
        {% if element.user.validation == 0 %}
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_accept"> accepter</button>
            </td>
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_refuse"> refusée</button>
            </td>

        {% else %}
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_refuse"> suprimer</button>
            </td>
            {% if (element.user.roles.0 == "ROLE_USER") and (is_granted('ROLE_SUPER_ADMIN') == true) %}
                <td>
                    <button class="btn-action" data-id="{{ element.user.id }}" data-info="set_admin"> ADMIN</button>
                </td>
            {% elseif (element.user.roles.0 == "ROLE_ADMIN") and (is_granted('ROLE_SUPER_ADMIN') == true) %}
                <td>
                    <button class="btn-action" data-id="{{ element.user.id }}" data-info="unset_admin"> UNSET ADMIN</button>
                </td>
            {% endif %}
        {% endif %}
    </tr>
    </tbody>
</table>
