<table data-date="{{ table.datecreate|date('Y-m-d H:i:s') }}" data-type="user" data-id="{{ table.id }}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Datecreate</th>
        <th>Promotion</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Alias</th>
        <th>Mail</th>
        <th>Status</th>
        <th>Validation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{{ path('user_show', { 'id': table.id }) }}">{{ table.id }}</a></td>
        <td>{% if table.dateCreate %}{{ table.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ table.promotion }}</td>
        <td>{{ table.firstName }}</td>
        <td>{{ table.lastName }}</td>
        <td>{{ table.username }}</td>
        <td>{{ table.email }}</td>
        {% if table.validation == 0 %}
            <td>
                <button class="accept-user" data-id="{{ table.id }}"> accepter</button>
            </td>
            <td>
                <button class="refuse-user" data-id="{{ table.id }}"> refusée</button>
            </td>

        {% else %}
            <td>
                <button class="refuse-user" data-id="{{ table.id }}"> suprimer</button>
            </td>
            {% if (table.roles.0 == "ROLE_USER") and (is_granted('ROLE_ADMIN') == true) %}
                <td>
                    <button class="set-admin" data-id="{{ table.id }}"> ADMIN</button>
                </td>
            {% elseif (table.roles.0 == "ROLE_ADMIN") and (is_granted('ROLE_ADMIN') == true) %}
                <td>
                    <button class="unset-admin" data-id="{{ table.id }}"> UNSET ADMIN</button>
                </td>
            {% endif %}
        {% endif %}
    </tr>
    </tbody>
</table>