
<table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}" data-type="user" data-id="{{ element.user.id }}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Datecreate</th>
        <th>Promotion</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Alias</th>
        <th>Mail</th>
        <th>Status</th>
        <th>Validation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="{{ path('user_show', { 'id': element.user.id }) }}">{{ element.user.id }}</a></td>
        <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ element.user.promotion }}</td>
        <td>{{ element.user.firstName }}</td>
        <td>{{ element.user.lastName }}</td>
        <td>{{ element.user.username }}</td>
        <td>{{ element.user.email }}</td>
        {% if element.user.validation == 0 %}
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_accept"> accepter</button>
            </td>
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_refuse"> refusée</button>
            </td>

        {% else %}
            <td>
                <button class="btn-action" data-id="{{ element.user.id }}" data-info="user_refuse"> suprimer</button>
            </td>
            {% if (element.user.roles.0 == "ROLE_USER") and (is_granted('ROLE_ADMIN') == true) %}
                <td>
                    <button class="btn-action" data-id="{{ element.user.id }}" data-info="set_admin"> ADMIN</button>
                </td>
            {% elseif (element.user.roles.0 == "ROLE_ADMIN") and (is_granted('ROLE_ADMIN') == true) %}
                <td>
                    <button class="btn-action" data-id="{{ element.user.id }}" data-info="unset_admin"> UNSET ADMIN</button>
                </td>
            {% endif %}
        {% endif %}
    </tr>
    </tbody>
</table>
