{% extends 'base.html.twig' %}

{% block body %}
    <div id="filter">
        <label for="listing-choice">recherche par :</label>
        <select id="listing-choice">
            <option value="allValideIndex">à modérer</option>
            <option value="UserNotValideIndex">compte à modérer</option>
            <option value="ArticleNotValideIndex">article évènement à modérer</option>
            <option value="ArticleValideIndex">article évènement validé</option>
            <option value="UserValideIndex">compte validé</option>
        </select>
    </div>
    <div id="element-container">
        {% for element in tables %}
            {% if (element|class) == 'Article' %}
                <table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}"  data-type="article" data-id="{{ element.id }}">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Id</th>
                        <th>Date_create</th>
                        <th>Date_event</th>
                        <th>Title</th>
                        <th>Catch_sentence</th>
                        <th>Picture</th>
                        <th>Content</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>article</td>
                        <td><a href="{{ path('article_show', { 'id': element.id }) }}">{{ element.id }}</a></td>
                        <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if element.dateupdate %}{{ element.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if element.dateevent %}{{ element.dateevent|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ element.title }}</td>
                        <td>{{ element.catchsentence }}</td>
                        <td>{{ element.picture }}</td>
                        <td>{{ element.content }}</td>
                        {% if element.enabled == 0 %}
                            <td>
                            <td>
                                <a href="{{ path('article_accept',{ 'id': element.id }) }}"> Accepter</a>
                            </td>
                            <td>
                                <a href="{{ path('article_refuse',{ 'id': element.id }) }}"> Refuser</a>
                            </td>
                            </td>
                        {% else %}
                            <td>
                                <a href="{{ path('article_refuse',{ 'id': element.id }) }}">Suprimer</a>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>

            {% elseif ((element|class) == "User") or ((element|class) == "Proxies\\__CG__\\User") %}
                <table data-date="{{ element.datecreate|date('Y-m-d H:i:s') }}"  data-type="user" data-id="{{ element.id }}">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Id</th>
                        <th>Datecreate</th>
                        <th>Promotion</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Alias</th>
                        <th>Mail</th>
                        <th>Status</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>user</td>
                        <td><a href="{{ path('user_show', { 'id': element.id }) }}">{{ element.id }}</a></td>
                        <td>{% if element.dateCreate %}{{ element.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ element.promotion }}</td>
                        <td>{{ element.firstName }}</td>
                        <td>{{ element.lastName }}</td>
                        <td>{{ element.username }}</td>
                        <td>{{ element.email }}</td>

                        {% if element.validation == 0 %}
                            <td>
                                <button class="accept-user" data-id="{{ element.id }}"> accepter</button>
                            </td>
                            <td>
                                <button class="refuse-user" data-id="{{ element.id }}"> refusée</button>
                            </td>

                        {% else %}
                            <td>
                                <button class="refuse-user" data-id="{{ element.id }}"> suprimer</button>
                            </td>
                            {% if (element.roles.0 == "ROLE_USER") and (is_granted('ROLE_ADMIN') == true) %}
                                <td>
                                    <button class="set-admin" data-id="{{ element.id }}"> ADMIN</button>
                                </td>
                            {% elseif (element.roles.0 == "ROLE_ADMIN") and (is_granted('ROLE_ADMIN') == true) %}
                                <td>
                                    <button class="unset-admin" data-id="{{ element.id }}"> UNSET ADMIN</button>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </tbody>
                </table>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
