{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <label for="listingChoice">recherche par :</label>
        <select id="listingChoice">
            <option value="validation_index">tout</option>
            <option value="UserNotValideIndex">compte Non Validée</option>
            <option value="ArticleNotValideIndex">article évènement non validé</option>
            <option value="ArticleValideIndex">article évènement validé</option>
            <option value="UserValideIndex">compte validé</option>
        </select>
    </div>
    {% for element in tables %}
        {% if (element|class) == 'Article' %}
            Articles list
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date_create</th>
                    <th>Date_event</th>
                    <th>Title</th>
                    <th>Catch_sentence</th>
                    <th>Picture</th>
                    <th>Content</th>
                    <th>Validation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('article_show', { 'id': element.id }) }}">{{ element.id }}</a></td>
                    <td>{% if element.datecreate %}{{ element.datecreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if element.dateupdate %}{{ element.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if element.dateevent %}{{ element.dateevent|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ element.title }}</td>
                    <td>{{ element.catchsentence }}</td>
                    <td>{{ element.picture }}</td>
                    <td>{{ element.content }}</td>
                    {% if element.enabled == 0 %}
                    <td>
                        <td>
                            <a href="{{ path('article_accept',{ 'id': element.id })}}" > Accepter</a>
                        </td>
                        <td>
                            <a href="{{ path('article_refuse',{ 'id': element.id })}}"> Refuser</a>
                        </td>
                    </td>
                    {% else %}
                        <td>
                            <a href="{{ path('article_refuse',{ 'id': element.id })}}" >Suprimer</a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>

        {% elseif ((element|class) == "User") or ((element|class) == "Proxies\\__CG__\\User") %}
            Users list
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Datecreate</th>
                    <th>Promotion</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Alias</th>
                    <th>Mail</th>
                    <th>Status</th>
                    <th>Validation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('user_show', { 'id': element.id }) }}">{{ element.id }}</a></td>
                    <td>{% if element.dateCreate %}{{ element.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ element.promotion }}</td>
                    <td>{{ element.firstName }}</td>
                    <td>{{ element.lastName }}</td>
                    <td>{{ element.username }}</td>
                    <td>{{ element.email }}</td>

                    {% if element.validation == 0 %}
                    <td>
                        <td>
                            <a href="{{ path('user_accept',{ 'id': element.id })}}" > accepter</a>
                        </td>
                        <td>
                            <a href="{{ path('user_refuse',{ 'id': element.id })}}" > refusée</a>
                        </td>
                    </td>
                    {% else %}
                        <td>
                            <a href="{{ path('user_refuse',{ 'id': element.id })}}" >Suprimer</a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>

        {% endif %}
    {% endfor %}
{%  endblock  %}
