{% extends 'base.html.twig' %}
{% block body %}
            {% if envoie == 0 %}
                    <div class="col-md-4 offset-md-4 text-right">
                        <h1 class="text-left">Contact </h1>
                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input class="col-md-3 btn btn-danger" type="submit" value="soumission" />
                        {{ form_end(form) }}
            {% elseif envoie == 1 %}
                    <div class="col-md-4 offset-md-4">
                         <h1 class="">Message envoyé ! </h1>
                         <div>
                             <a href="{{ path('homepage_cool') }}"><button type="button" class="btn btn-danger"> HOME </button></a>
                         </div>
            {% else %}
                    <div class="col-md-4 offset-md-4">
                        <h1 class="">erreur lors de l'envoi! Réessayer plus tard ! </h1>
                        <div>
                            <a href="{{ path('homepage_cool') }}"><button type="button" class="btn btn-danger"> HOME </button></a>
                        </div>
            {% endif %}
                    </div>
{% endblock %}
